/**
 * kc_mobilecall.scss
 *
 * @copyright Kelcible 2017
 * @author Yann L'EBRELLEC
 * @date 13/03/2017
 */

#tel_mobile_fixed{

    background:#009900;
    border-top: 2px solid #00bb00;
    position:fixed;
    width:100%;
    height:50px;
    bottom:0;
    z-index:9999;
    text-align: center;

    &:hover {
        background:#00bb00;
        border-top: 2px solid #009900;
    }

    a{

        display:block;
        width:100%;
        height:50px;
        text-decoration:none;
        text-align: center;

        .tel_mobile_icon{

            margin: 0 auto;
            color:white;
            font-size: 38px;

            &:before{
                content: "\e602";
                font-family: 'icomoon';
                color:white;
                font-size: 38px;
                line-height: 46px;
                margin-right: 10px;
            }

        }

    }

}
